@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --navbar-height: 3rem;
  --content-width: 1200px;
}

body {
  @apply bg-[#0B0E0F];
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
