@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --navbar-height: 3rem;
  --content-width: 1120px;
}

body {
  @apply bg-[#0B0E0F];
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.radial-opacity {
  background: radial-gradient(ellipse at center,rgba(var(--foreground-rgb),.8) 0%,rgba(var(--foreground-rgb),0) 100%);
}

.blob {
  background: rgb(106,159,67);
  background: linear-gradient(166deg, rgba(105, 159, 67, 0.774) 0%, rgba(253,187,45,0) 50%);
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #262829;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.loader {
  position: relative;
}
.loader:before ,  .loader:after {
    content: '';
    width: 15px;
    height: 15px;
    display: block;
    position: relative;
    margin: 10px auto ;
    border-radius: 50%;
    background: #fff;
    animation: left 1s infinite ease-in-out;
  }
  .loader:after {
    @apply bg-primary-500;
    animation: right 1s infinite ease-in-out;
  }


@keyframes right {
  0% , 100%{transform: translate(-15px) }
  50% { transform: translate(15px) }
}

@keyframes left {
  0% , 100%{ transform: translate(15px) }
  50% { transform: translate(-15px) }
}


