@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --navbar-height: 3rem;
  --content-width: 1200px;
}

body {
  @apply bg-[#0B0E0F];
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.radial-opacity {
  background: radial-gradient(ellipse farthest-corner at 45px 45px, rgba(50, 50, 50, 0.8) 0%, rgba(80, 80, 80, 0.2) );
}

.blob {
  background: linear-gradient(180deg,rgba(11,14,15,.82) 0%,rgba(24,31,33,0) 100%);
}